
@{
    Layout = "_Layout";
}

<h1 class="align-self-lg-center text-center">Welcome</h1>
<div class="text-center container-fluid">
    <h3> Demo Project To Showcase Ways in Which A User Can Navigate Through The System Of Organization X in Collabo With Dimension Data</h3>
</div>
<div class="fixed-bottom">
    <footer class="border-top blockquote-footer text-muted text-center">
        <div class="container">
            <h6> <strong>Copyright &copy; OrganizationX @DateTime.Now.Year</strong> </h6>
        </div>
    </footer>
</div>